@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: Changes to this file require a manual browser refresh for now. */

@layer base {
  .wrapper {
    @apply mx-auto w-full;
  }
  .padding-x {
    @apply px-4;
    @apply sm:px-8;
  }
  .padding-y {
    @apply py-12;
    @apply sm:py-16;
  }
  .width-site {
    @apply max-w-7xl;
  }
  .width-reading {
    @apply max-w-4xl;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply terminal:text-lime-400 terminal:font-mono text-pretty font-sans text-xl/[1.8] font-bold uppercase text-stone-900 sm:text-2xl/[1.8] dark:text-stone-50;
  }
  h1,
  h2 {
    @apply terminal:text-5xl/[1.1] text-5xl/[1.1] sm:text-6xl/[1.1] md:text-7xl/[1.1];
  }
  .tag,
  time {
    @apply terminal:text-lime-500 terminal:font-mono font-sans text-sm uppercase tracking-wider text-stone-600 dark:text-stone-300;
  }
  body {
    @apply terminal:text-lime-500 font-mono text-lg/[1.8] lining-nums text-stone-800 sm:text-xl/[1.8] dark:text-stone-200;
  }
  hr {
    @apply terminal:bg-lime-800 my-8 h-px border-0 bg-stone-400 sm:my-12 dark:bg-stone-700;
  }
  svg {
    @apply pointer-events-none inline-block;
  }
  a {
    @apply terminal:focus-visible:outline-lime-400 focus:outline-none focus-visible:outline focus-visible:outline-4 focus-visible:outline-offset-2 focus-visible:outline-violet-400;
  }
  .content-body h1,
  .content-body h2,
  .content-body h3,
  .content-body h4,
  .content-body h5,
  .content-body h6,
  .content-body p {
    @apply mb-8 sm:mb-12;
  }
  .content-body h3 {
    @apply mb-4 sm:mb-6;
  }
  .content-body .standfirst {
    @apply mb-6 text-pretty text-2xl/[1.8];
  }
  .content-body pre {
    @apply terminal:bg-lime-950 mb-10 text-wrap break-words rounded-md bg-stone-300 p-3 text-sm sm:text-base dark:bg-stone-950;
  }
  .content-body code {
    @apply terminal:bg-lime-950 rounded-md bg-stone-300 p-0.5 text-sm sm:text-base dark:bg-stone-950;
  }
  .content-body ul {
    @apply mb-10 list-disc;
  }
  .content-body ol {
    @apply mb-10 list-decimal;
  }
  .content-body li {
    @apply mb-3 ml-5;
  }
  .content-body a {
    @apply link-underline;
  }
  .content-body blockquote {
    @apply terminal:border-lime-600 mb-10 border-l-8 border-violet-600 pl-4;
  }
  .content-body blockquote p {
    @apply text-pretty text-2xl/[1.6] italic sm:text-3xl/[1.6];
  }
  .content-body blockquote footer {
    @apply text-sm;
  }
  .content-body blockquote cite {
    @apply not-italic;
  }
  .content-summary h3 {
    @apply mb-1;
  }
  .content-summary h3 a {
    @apply link-underline-hover;
  }
  .content-summary .standfirst {
    @apply text-pretty text-base/[1.8] sm:text-lg/[1.8];
  }
  .link-underline {
    @apply hover:link-underline-hover underline decoration-1 underline-offset-4;
  }
  .link-underline-hover {
    @apply terminal:hover:decoration-lime-500 hover:underline hover:decoration-violet-600 hover:decoration-4 hover:underline-offset-4;
  }
  .link-hover {
    @apply hover:text-violet-600;
  }
  nav ol {
    @apply flex min-h-6 flex-row items-center;
  }
  nav li a {
    @apply h-6 px-1.5 py-1 leading-6;
  }
  nav.menu li a {
    @apply px-3;
  }
  nav.menu li:first-child a {
    @apply -ml-3 md:ml-3;
  }
  nav.social li a {
    @apply h-7;
  }
  nav li svg {
    @apply -mt-[2px] inline-block;
  }
  nav.breadcrumbs li:first-child a {
    @apply -ml-1.5 inline-block py-0;
  }
  nav.breadcrumbs li::after {
    @apply hidden px-1 content-['/'] first:inline-block last:hidden sm:inline-block dark:text-stone-400;
  }
  #theme-toggle[aria-checked='false'] #toggle-indicator {
    @apply translate-x-0;
  }
  #theme-toggle[aria-checked='true'] #toggle-indicator {
    @apply translate-x-6;
  }
  .toggle-ready {
    @apply transition duration-200 ease-in-out;
  }
}

@layer utilities {
  ::selection {
    @apply terminal:bg-lime-900 bg-violet-200 dark:bg-violet-400;
  }
}

/* Easter egg. Credit: https://gist.github.com/lmas/6a1bd445bc7a7145245085f4a740d3f5 */
.terminal h1::after {
  content: '_';
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.terminal::before {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}
.terminal {
  background-color: black;
  background-image: radial-gradient(
    rgba(37, 78, 37, 0.75),
    rgb(21, 36, 21) 120%
  );
  animation: textShadow 0.15s infinite;
}
@keyframes textShadow {
  0% {
    text-shadow:
      0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  5% {
    text-shadow:
      2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  10% {
    text-shadow:
      0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  15% {
    text-shadow:
      0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  20% {
    text-shadow:
      3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  25% {
    text-shadow:
      1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  30% {
    text-shadow:
      0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  35% {
    text-shadow:
      3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  40% {
    text-shadow:
      3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  45% {
    text-shadow:
      2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  50% {
    text-shadow:
      0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  55% {
    text-shadow:
      2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  60% {
    text-shadow:
      2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  65% {
    text-shadow:
      2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  70% {
    text-shadow:
      0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  75% {
    text-shadow:
      1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  80% {
    text-shadow:
      0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  85% {
    text-shadow:
      0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  90% {
    text-shadow:
      3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  95% {
    text-shadow:
      2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
  100% {
    text-shadow:
      2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
      0 0 3px;
  }
}
